In [ ]:
! git clone https://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@github.com/SwathiJakka/ASCEND_Capstone.git

fatal: destination path 'ASCEND_Capstone' already exists and is not an empty directory.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df_Eval=pd.read_csv("/content/ASCEND_Capstone/datasets/data_Eval.csv")

In [ ]:
df_Eval.columns

Index(['Username', 'Course Name', 'Eval Question', 'Eval Response',
       'Eval Rating', 'Eval Response DateAdded', 'Cohort Name',
       'Program Version', 'Gender', 'Age', 'Status in Canada',
       'Marital Status', 'Country of Birth',
       'Country you have_will immigrate from',
       'Year landed in Canada _enter 0 if not yet landed_',
       'Highest level of education', 'Country', 'Province', 'City',
       'What is your current employment status',
       'What industry or sector are you working in',
       'Is this your preferred industry or sector',
       'What is your current annual employment salary', 'FirstName',
       'LastName', 'Phone', 'Genre', ' Âge', 'Statut au Canada',
       'Situation maritale', 'Pays de naissance',
       'Pays d_où vous avez immigré_immigrerez',
       'Année d_arrivée au Canada _saisir 0 si non applicable_',
       'Plus haut niveau de formation',
       'Quelle est votre situation professionnelle actuelle',
       'Dans quelle industrie ou secteur travaillez_vous',
       'Est_ce votre secteur ou industrie de prédilection',
       'Quel est votre salaire annuel actuel', 'Quarterly'],
      dtype='object')

In [ ]:
df_Eval.dtypes

Username                                                   object
Course Name                                                object
Eval Question                                              object
Eval Response                                              object
Eval Rating                                                 int64
Eval Response DateAdded                                    object
Cohort Name                                                object
Program Version                                            object
Gender                                                     object
Age                                                        object
Status in Canada                                           object
Marital Status                                             object
Country of Birth                                           object
Country you have_will immigrate from                       object
Year landed in Canada _enter 0 if not yet landed_         float64
Highest level of education                                 object
Country                                                    object
Province                                                   object
City                                                       object
What is your current employment status                     object
What industry or sector are you working in                 object
Is this your preferred industry or sector                  object
What is your current annual employment salary              object
FirstName                                                  object
LastName                                                   object
Phone                                                      object
Genre                                                      object
 Âge                                                       object
Statut au Canada                                           object
Situation maritale                                         object
Pays de naissance                                          object
Pays d_où vous avez immigré_immigrerez                     object
Année d_arrivée au Canada _saisir 0 si non applicable_     object
Plus haut niveau de formation                              object
Quelle est votre situation professionnelle actuelle        object
Dans quelle industrie ou secteur travaillez_vous           object
Est_ce votre secteur ou industrie de prédilection          object
Quel est votre salaire annuel actuel                       object
Quarterly                                                  object
dtype: object

In [ ]:
df_Eval.shape

(18835, 39)

In [ ]:
df_Eval = df_Eval.applymap(lambda x: x.strip() if isinstance(x, str) else x)

**Dropping Ascend Demo and Facilitator Users**

In [ ]:
df_Eval_filtered = df_Eval[df_Eval['Username'].str.contains('test|proton|demo|@ascend', case=False, na=False)|
    df_Eval['Program Version'].str.contains('Facilitator', case=False, na=False) ]

print(df_Eval_filtered)

                                Username  \
330               ascend-demo@ascend.com
331               ascend-demo@ascend.com
332               ascend-demo@ascend.com
333               ascend-demo@ascend.com
334               ascend-demo@ascend.com
4590             alona@westofwindsor.com
4591             alona@westofwindsor.com
4592             alona@westofwindsor.com
4593             alona@westofwindsor.com
4594             alona@westofwindsor.com
4700   ascend_equipe_francais@ascend.com
4701   ascend_equipe_francais@ascend.com
4702   ascend_equipe_francais@ascend.com
4703   ascend_equipe_francais@ascend.com
4704   ascend_equipe_francais@ascend.com
18180                vatika@reginaiwc.ca
18181                vatika@reginaiwc.ca
18182                vatika@reginaiwc.ca
18183                vatika@reginaiwc.ca
18184                vatika@reginaiwc.ca

                                             Course Name  \
330    Module 4: Building your job search and intervi...
331    Module 4: Building your job search and intervi...
332    Module 4: Building your job search and intervi...
333    Module 4: Building your job search and intervi...
334    Module 4: Building your job search and intervi...
4590   Module 1: The value of your existing skills an...
4591   Module 1: The value of your existing skills an...
4592   Module 1: The value of your existing skills an...
4593   Module 1: The value of your existing skills an...
4594   Module 1: The value of your existing skills an...
4700   Module 4 : Développer vos soft skills pour la ...
4701   Module 4 : Développer vos soft skills pour la ...
4702   Module 4 : Développer vos soft skills pour la ...
4703   Module 4 : Développer vos soft skills pour la ...
4704   Module 4 : Développer vos soft skills pour la ...
18180      Module 2: Personal branding (Facilitator v.1)
18181      Module 2: Personal branding (Facilitator v.1)
18182      Module 2: Personal branding (Facilitator v.1)
18183      Module 2: Personal branding (Facilitator v.1)
18184      Module 2: Personal branding (Facilitator v.1)

                                           Eval Question       Eval Response  \
330    5. Please share any additional comments on Mod...                 All
331         1. What is your overall rating for Module 4?                 NaN
332    2. If 1 star = 1 hour, how many hours did it t...                 NaN
333         3. What was your favourite part of Module 4?                 All
334                      4. What would improve Module 4?                 All
4590   2. If 1 star = 1 hour, how many hours did it t...                 NaN
4591        1. What is your overall rating for Module 1?                 NaN
4592        3. What was your favourite part of Module 1?               quize
4593                     4. What would improve Module 1?             nothing
4594   5. Please share any additional comments on Mod...  everything is good
4700   1. Quelle note globale donneriez-vous au Modul...                 NaN
4701   5. N’hésitez pas à nous faire de tout autre co...                 NaN
4702   4. Comment pourrions-nous améliorer le Module 4 ?                 NaN
4703   2. Si 1 étoile = 1 heure, combien d’heures vou...                 NaN
4704   3. Quelle a été votre partie favorite du Modul...                 NaN
18180  5. Please share any additional comments on Mod...                 NaN
18181  2. If 1 star = 1 hour, how many hours did it t...                 NaN
18182       1. What is your overall rating for Module 2?                 NaN
18183       3. What was your favourite part of Module 2?            branding
18184                    4. What would improve Module 2?   excellent already

       Eval Rating Eval Response DateAdded                Cohort Name  \
330              0        2024-03-22 18:53                        NaN
331              5        2024-03-22 18:53                        NaN
332              2        2024-03-22 18:53                        NaN
333              0        2024-03-22 18:53                        NaN
334              0        2024-03-22 18:53                        NaN
4590             5         2023-09-14 6:47  WEST-ELT (Sep - Nov 2022)
4591             5         2023-09-14 6:47  WEST-ELT (Sep - Nov 2022)
4592             0         2023-09-14 6:47  WEST-ELT (Sep - Nov 2022)
4593             0         2023-09-14 6:47  WEST-ELT (Sep - Nov 2022)
4594             0         2023-09-14 6:47  WEST-ELT (Sep - Nov 2022)
4700             0        2023-09-20 11:59     ASCEND Français Master
4701             0        2023-09-20 11:59     ASCEND Français Master
4702             0        2023-09-20 11:59     ASCEND Français Master
4703             0        2023-09-20 11:59     ASCEND Français Master
4704             0        2023-09-20 11:59     ASCEND Français Master
18180            0         2023-12-13 7:47         RIWC - Facilitator
18181            5         2023-12-13 7:47         RIWC - Facilitator
18182            5         2023-12-13 7:47         RIWC - Facilitator
18183            0         2023-12-13 7:47         RIWC - Facilitator
18184            0         2023-12-13 7:47         RIWC - Facilitator

      Program Version  Gender    Age  ...        Situation maritale  \
330               NaN     NaN    NaN  ...                       NaN
331               NaN     NaN    NaN  ...                       NaN
332               NaN     NaN    NaN  ...                       NaN
333               NaN     NaN    NaN  ...                       NaN
334               NaN     NaN    NaN  ...                       NaN
4590      Facilitator  Female  20-29  ...                       NaN
4591      Facilitator  Female  20-29  ...                       NaN
4592      Facilitator  Female  20-29  ...                       NaN
4593      Facilitator  Female  20-29  ...                       NaN
4594      Facilitator  Female  20-29  ...                       NaN
4700           French     NaN    NaN  ...  Marié.e / En concubinage
4701           French     NaN    NaN  ...  Marié.e / En concubinage
4702           French     NaN    NaN  ...  Marié.e / En concubinage
4703           French     NaN    NaN  ...  Marié.e / En concubinage
4704           French     NaN    NaN  ...  Marié.e / En concubinage
18180     Facilitator  Female  30-39  ...                       NaN
18181     Facilitator  Female  30-39  ...                       NaN
18182     Facilitator  Female  30-39  ...                       NaN
18183     Facilitator  Female  30-39  ...                       NaN
18184     Facilitator  Female  30-39  ...                       NaN

      Pays de naissance Pays d_où vous avez immigré_immigrerez  \
330                 NaN                                    NaN
331                 NaN                                    NaN
332                 NaN                                    NaN
333                 NaN                                    NaN
334                 NaN                                    NaN
4590                NaN                                    NaN
4591                NaN                                    NaN
4592                NaN                                    NaN
4593                NaN                                    NaN
4594                NaN                                    NaN
4700             France                                 France
4701             France                                 France
4702             France                                 France
4703             France                                 France
4704             France                                 France
18180               NaN                                    NaN
18181               NaN                                    NaN
18182               NaN                                    NaN
18183               NaN                                    NaN
18184               NaN                                    NaN

      Année d_arrivée au Canada _saisir 0 si non applicable_  \
330                                                  NaN
331                                                  NaN
332                                                  NaN
333                                                  NaN
334                                                  NaN
4590                                                 NaN
4591                                                 NaN
4592                                                 NaN
4593                                                 NaN
4594                                                 NaN
4700                                                2023
4701                                                2023
4702                                                2023
4703                                                2023
4704                                                2023
18180                                                NaN
18181                                                NaN
18182                                                NaN
18183                                                NaN
18184                                                NaN

       Plus haut niveau de formation  \
330                              NaN
331                              NaN
332                              NaN
333                              NaN
334                              NaN
4590                             NaN
4591                             NaN
4592                             NaN
4593                             NaN
4594                             NaN
4700                    Baccalauréat
4701                    Baccalauréat
4702                    Baccalauréat
4703                    Baccalauréat
4704                    Baccalauréat
18180                            NaN
18181                            NaN
18182                            NaN
18183                            NaN
18184                            NaN

      Quelle est votre situation professionnelle actuelle  \
330                                                  NaN
331                                                  NaN
332                                                  NaN
333                                                  NaN
334                                                  NaN
4590                                                 NaN
4591                                                 NaN
4592                                                 NaN
4593                                                 NaN
4594                                                 NaN
4700                                         Sans emploi
4701                                         Sans emploi
4702                                         Sans emploi
4703                                         Sans emploi
4704                                         Sans emploi
18180                                                NaN
18181                                                NaN
18182                                                NaN
18183                                                NaN
18184                                                NaN

      Dans quelle industrie ou secteur travaillez_vous  \
330                                                NaN
331                                                NaN
332                                                NaN
333                                                NaN
334                                                NaN
4590                                               NaN
4591                                               NaN
4592                                               NaN
4593                                               NaN
4594                                               NaN
4700              01) Je suis actuellement sans emploi
4701              01) Je suis actuellement sans emploi
4702              01) Je suis actuellement sans emploi
4703              01) Je suis actuellement sans emploi
4704              01) Je suis actuellement sans emploi
18180                                              NaN
18181                                              NaN
18182                                              NaN
18183                                              NaN
18184                                              NaN

      Est_ce votre secteur ou industrie de prédilection  \
330                                                 NaN
331                                                 NaN
332                                                 NaN
333                                                 NaN
334                                                 NaN
4590                                                NaN
4591                                                NaN
4592                                                NaN
4593                                                NaN
4594                                                NaN
4700                                                Non
4701                                                Non
4702                                                Non
4703                                                Non
4704                                                Non
18180                                               NaN
18181                                               NaN
18182                                               NaN
18183                                               NaN
18184                                               NaN

      Quel est votre salaire annuel actuel             Quarterly
330                                    NaN   Jan 2024 - Mar 2024
331                                    NaN   Jan 2024 - Mar 2024
332                                    NaN   Jan 2024 - Mar 2024
333                                    NaN   Jan 2024 - Mar 2024
334                                    NaN   Jan 2024 - Mar 2024
4590                                   NaN  July 2023 - Sep 2023
4591                                   NaN  July 2023 - Sep 2023
4592                                   NaN  July 2023 - Sep 2023
4593                                   NaN  July 2023 - Sep 2023
4594                                   NaN  July 2023 - Sep 2023
4700      Je suis actuellement sans emploi  July 2023 - Sep 2023
4701      Je suis actuellement sans emploi  July 2023 - Sep 2023
4702      Je suis actuellement sans emploi  July 2023 - Sep 2023
4703      Je suis actuellement sans emploi  July 2023 - Sep 2023
4704      Je suis actuellement sans emploi  July 2023 - Sep 2023
18180                                  NaN   Oct 2023 - Dec 2023
18181                                  NaN   Oct 2023 - Dec 2023
18182                                  NaN   Oct 2023 - Dec 2023
18183                                  NaN   Oct 2023 - Dec 2023
18184                                  NaN   Oct 2023 - Dec 2023

[20 rows x 39 columns]

In [ ]:
# Find unique values in the specified column
unique_users = df_Eval_filtered['Username'].unique()
print(unique_users)

['ascend-demo@ascend.com' 'alona@westofwindsor.com'
 'ascend_equipe_francais@ascend.com' 'vatika@reginaiwc.ca']

In [ ]:
df_Eval = df_Eval[~df_Eval['Username'].isin(unique_users)]

df_Eval.reset_index(drop=True, inplace=True)

In [ ]:
df_Eval.shape

(18815, 39)

**Handling Duplicates**

In [ ]:
duplicates = df_Eval[df_Eval.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Username, Course Name, Eval Question, Eval Response, Eval Rating, Eval Response DateAdded, Cohort Name, Program Version, Gender, Age, Status in Canada, Marital Status, Country of Birth, Country you have_will immigrate from, Year landed in Canada _enter 0 if not yet landed_, Highest level of education, Country, Province, City, What is your current employment status, What industry or sector are you working in, Is this your preferred industry or sector, What is your current annual employment salary, FirstName, LastName, Phone, Genre,  Âge, Statut au Canada, Situation maritale, Pays de naissance, Pays d_où vous avez immigré_immigrerez, Année d_arrivée au Canada _saisir 0 si non applicable_, Plus haut niveau de formation, Quelle est votre situation professionnelle actuelle, Dans quelle industrie ou secteur travaillez_vous, Est_ce votre secteur ou industrie de prédilection, Quel est votre salaire annuel actuel, Quarterly]
Index: []

[0 rows x 39 columns]

In [ ]:
print(df_Eval.isnull().sum())

Username                                                      0
Course Name                                                   0
Eval Question                                                 0
Eval Response                                             13474
Eval Rating                                                   0
Eval Response DateAdded                                       0
Cohort Name                                                   0
Program Version                                               0
Gender                                                      940
Age                                                         940
Status in Canada                                            940
Marital Status                                              940
Country of Birth                                            940
Country you have_will immigrate from                       1030
Year landed in Canada _enter 0 if not yet landed_           940
Highest level of education                                  940
Country                                                       0
Province                                                      0
City                                                          0
What is your current employment status                     1225
What industry or sector are you working in                 1225
Is this your preferred industry or sector                  1225
What is your current annual employment salary              1225
FirstName                                                     0
LastName                                                      0
Phone                                                         0
Genre                                                     17875
 Âge                                                      17875
Statut au Canada                                          17875
Situation maritale                                        18670
Pays de naissance                                         17875
Pays d_où vous avez immigré_immigrerez                    17875
Année d_arrivée au Canada _saisir 0 si non applicable_    17875
Plus haut niveau de formation                             17875
Quelle est votre situation professionnelle actuelle       17875
Dans quelle industrie ou secteur travaillez_vous          17875
Est_ce votre secteur ou industrie de prédilection         17875
Quel est votre salaire annuel actuel                      17875
Quarterly                                                     0
dtype: int64

**Seperating French and English Category**

In [ ]:
df_Eval['Language Category'] = 'English'
df_Eval.loc[df_Eval['Program Version'].isin(['French', 'SDECB']), 'Language Category'] = 'French'

print(df_Eval['Language Category'].value_counts())

Language Category
English    17875
French       940
Name: count, dtype: int64

In [ ]:
df_French = df_Eval[df_Eval['Language Category'] == 'French']
df_English = df_Eval[df_Eval['Language Category'] == 'English']

**Data Cleaning of French Category**

In [ ]:
print(df_French.isnull().sum())

Username                                                    0
Course Name                                                 0
Eval Question                                               0
Eval Response                                             652
Eval Rating                                                 0
Eval Response DateAdded                                     0
Cohort Name                                                 0
Program Version                                             0
Gender                                                    940
Age                                                       940
Status in Canada                                          940
Marital Status                                            940
Country of Birth                                          940
Country you have_will immigrate from                      940
Year landed in Canada _enter 0 if not yet landed_         940
Highest level of education                                940
Country                                                     0
Province                                                    0
City                                                        0
What is your current employment status                    940
What industry or sector are you working in                940
Is this your preferred industry or sector                 940
What is your current annual employment salary             940
FirstName                                                   0
LastName                                                    0
Phone                                                       0
Genre                                                       0
 Âge                                                        0
Statut au Canada                                            0
Situation maritale                                        795
Pays de naissance                                           0
Pays d_où vous avez immigré_immigrerez                      0
Année d_arrivée au Canada _saisir 0 si non applicable_      0
Plus haut niveau de formation                               0
Quelle est votre situation professionnelle actuelle         0
Dans quelle industrie ou secteur travaillez_vous            0
Est_ce votre secteur ou industrie de prédilection           0
Quel est votre salaire annuel actuel                        0
Quarterly                                                   0
Language Category                                           0
dtype: int64

In [ ]:
df_French.shape

(940, 40)

In [ ]:
columns_to_drop = ['Gender', 'Age', 'Status in Canada', 'Marital Status',
                   'Country of Birth', 'Country you have_will immigrate from', 'Year landed in Canada _enter 0 if not yet landed_',
                   'Highest level of education', 'What is your current employment status', 'What industry or sector are you working in',
                   'Is this your preferred industry or sector', 'What is your current annual employment salary']
df_French.drop(columns=columns_to_drop, inplace=True)

<ipython-input-18-b2d08e8afe22>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_French.drop(columns=columns_to_drop, inplace=True)

In [ ]:
print(df_French.isnull().sum())

Username                                                    0
Course Name                                                 0
Eval Question                                               0
Eval Response                                             652
Eval Rating                                                 0
Eval Response DateAdded                                     0
Cohort Name                                                 0
Program Version                                             0
Country                                                     0
Province                                                    0
City                                                        0
FirstName                                                   0
LastName                                                    0
Phone                                                       0
Genre                                                       0
 Âge                                                        0
Statut au Canada                                            0
Situation maritale                                        795
Pays de naissance                                           0
Pays d_où vous avez immigré_immigrerez                      0
Année d_arrivée au Canada _saisir 0 si non applicable_      0
Plus haut niveau de formation                               0
Quelle est votre situation professionnelle actuelle         0
Dans quelle industrie ou secteur travaillez_vous            0
Est_ce votre secteur ou industrie de prédilection           0
Quel est votre salaire annuel actuel                        0
Quarterly                                                   0
Language Category                                           0
dtype: int64

Handling Missing Values of French Category

In [ ]:
df_French['Eval Response'].fillna('NA', inplace=True)

df_French['Situation maritale'].fillna('PrÃ©fÃ¨re ne pas rÃ©pondre', inplace=True)

<ipython-input-20-a51ea448d607>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_French['Eval Response'].fillna('NA', inplace=True)
<ipython-input-20-a51ea448d607>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_French['Situation maritale'].fillna('PrÃ©fÃ¨re ne pas rÃ©pondre', inplace=True)

In [ ]:
df_French.loc[df_French['Username'] == 'contact.vsophie@gmail.com', 'Pays de naissance'] = 'France'

In [ ]:
df_French.info()

<class 'pandas.core.frame.DataFrame'>
Index: 940 entries, 455 to 18549
Data columns (total 28 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Username                                                940 non-null    object
 1   Course Name                                             940 non-null    object
 2   Eval Question                                           940 non-null    object
 3   Eval Response                                           940 non-null    object
 4   Eval Rating                                             940 non-null    int64
 5   Eval Response DateAdded                                 940 non-null    object
 6   Cohort Name                                             940 non-null    object
 7   Program Version                                         940 non-null    object
 8   Country                                                 940 non-null    object
 9   Province                                                940 non-null    object
 10  City                                                    940 non-null    object
 11  FirstName                                               940 non-null    object
 12  LastName                                                940 non-null    object
 13  Phone                                                   940 non-null    object
 14  Genre                                                   940 non-null    object
 15   Âge                                                    940 non-null    object
 16  Statut au Canada                                        940 non-null    object
 17  Situation maritale                                      940 non-null    object
 18  Pays de naissance                                       940 non-null    object
 19  Pays d_où vous avez immigré_immigrerez                  940 non-null    object
 20  Année d_arrivée au Canada _saisir 0 si non applicable_  940 non-null    object
 21  Plus haut niveau de formation                           940 non-null    object
 22  Quelle est votre situation professionnelle actuelle     940 non-null    object
 23  Dans quelle industrie ou secteur travaillez_vous        940 non-null    object
 24  Est_ce votre secteur ou industrie de prédilection       940 non-null    object
 25  Quel est votre salaire annuel actuel                    940 non-null    object
 26  Quarterly                                               940 non-null    object
 27  Language Category                                       940 non-null    object
dtypes: int64(1), object(27)
memory usage: 213.0+ KB

In [ ]:
# Find unique values in the specified column
unique_values = df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'].unique()
print(unique_values)

['2023' 'Aout 2019' '0' '2021' '2016' '2022' '2019' '2016-07-06' '2024'
 '2020' '22/08/2023' 'Janvier 2024']

In [ ]:
from dateutil import parser

# Function to extract the year from various date formats
def extract_year(date_str):
    if pd.isna(date_str):
        return None  # Handle NaN values
    elif str(date_str).strip() == '0':  # Explicitly check for '0' as a string
        return '0'  # Return '0' as a string to keep the format consistent

    try:
        # Convert to string to handle any non-string types
        date_str = str(date_str)
        # Mapping for French month names to English
        french_to_english = {
            'Janvier': 'January', 'Février': 'February', 'Mars': 'March',
            'Avril': 'April', 'Mai': 'May', 'Juin': 'June',
            'Juillet': 'July', 'Août': 'August', 'Septembre': 'September',
            'Octobre': 'October', 'Novembre': 'November', 'Décembre': 'December'
        }
        # Replace French month names if present
        for fr, en in french_to_english.items():
            date_str = date_str.replace(fr, en)
        # Parse the date and extract the year
        return str(parser.parse(date_str).year)
    except ValueError:
        return None  # Returns None if the date string is invalid

# Assume df is your DataFrame and it's already loaded
# Example: df = pd.read_csv('path_to_your_file.csv', encoding='utf-8')

# Correctly encoded column name with an escaped apostrophe
column_name = 'Année d_arrivée au Canada _saisir 0 si non applicable_'

# Applying the function to the date column
df_French[column_name] = df_French[column_name].apply(extract_year)

<ipython-input-24-c570f1f37c68>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_French[column_name] = df_French[column_name].apply(extract_year)

In [ ]:
blank_responses = df_French[df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'].isna() | (df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'] == ' ')]

# Count the number of blank responses
count_blank_responses = blank_responses.shape[0]
print(f"Count of blank : {count_blank_responses}")

Count of blank : 30

In [ ]:
df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'] = df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'].replace('  ', pd.NA)

# Find the most frequent value in the column (excluding NaN)
most_frequent_value = df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'].mode(dropna=True)[0]

# Fill NaN values with the most frequent value
df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'] = df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'].fillna(most_frequent_value)

<ipython-input-26-34773722e57a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'] = df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'].replace('  ', pd.NA)
<ipython-input-26-34773722e57a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'] = df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'].fillna(most_frequent_value)

In [ ]:
blank_responses = df_French[df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'].isna() | (df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'] == ' ')]

# Count the number of blank responses
count_blank_responses = blank_responses.shape[0]
print(f"Count of blank : {count_blank_responses}")

Count of blank : 0

In [ ]:
# Find unique values in the specified column
unique_values = df_French['Année d_arrivée au Canada _saisir 0 si non applicable_'].unique()

# Print the unique values
print(unique_values)

['2023' '0' '2021' '2016' '2022' '2019' '2024' '2020']

In [ ]:
df_French.info()

<class 'pandas.core.frame.DataFrame'>
Index: 940 entries, 455 to 18549
Data columns (total 28 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Username                                                940 non-null    object
 1   Course Name                                             940 non-null    object
 2   Eval Question                                           940 non-null    object
 3   Eval Response                                           940 non-null    object
 4   Eval Rating                                             940 non-null    int64
 5   Eval Response DateAdded                                 940 non-null    object
 6   Cohort Name                                             940 non-null    object
 7   Program Version                                         940 non-null    object
 8   Country                                                 940 non-null    object
 9   Province                                                940 non-null    object
 10  City                                                    940 non-null    object
 11  FirstName                                               940 non-null    object
 12  LastName                                                940 non-null    object
 13  Phone                                                   940 non-null    object
 14  Genre                                                   940 non-null    object
 15   Âge                                                    940 non-null    object
 16  Statut au Canada                                        940 non-null    object
 17  Situation maritale                                      940 non-null    object
 18  Pays de naissance                                       940 non-null    object
 19  Pays d_où vous avez immigré_immigrerez                  940 non-null    object
 20  Année d_arrivée au Canada _saisir 0 si non applicable_  940 non-null    object
 21  Plus haut niveau de formation                           940 non-null    object
 22  Quelle est votre situation professionnelle actuelle     940 non-null    object
 23  Dans quelle industrie ou secteur travaillez_vous        940 non-null    object
 24  Est_ce votre secteur ou industrie de prédilection       940 non-null    object
 25  Quel est votre salaire annuel actuel                    940 non-null    object
 26  Quarterly                                               940 non-null    object
 27  Language Category                                       940 non-null    object
dtypes: int64(1), object(27)
memory usage: 213.0+ KB

In [ ]:
print(df_French.isnull().sum())

Username                                                  0
Course Name                                               0
Eval Question                                             0
Eval Response                                             0
Eval Rating                                               0
Eval Response DateAdded                                   0
Cohort Name                                               0
Program Version                                           0
Country                                                   0
Province                                                  0
City                                                      0
FirstName                                                 0
LastName                                                  0
Phone                                                     0
Genre                                                     0
 Âge                                                      0
Statut au Canada                                          0
Situation maritale                                        0
Pays de naissance                                         0
Pays d_où vous avez immigré_immigrerez                    0
Année d_arrivée au Canada _saisir 0 si non applicable_    0
Plus haut niveau de formation                             0
Quelle est votre situation professionnelle actuelle       0
Dans quelle industrie ou secteur travaillez_vous          0
Est_ce votre secteur ou industrie de prédilection         0
Quel est votre salaire annuel actuel                      0
Quarterly                                                 0
Language Category                                         0
dtype: int64

In [ ]:
file_name = 'FrenchUserEval.csv'

# Save the DataFrame to a CSV file
df_French.to_csv(file_name, index=False)

**Data Cleaning of English Category**

In [ ]:
print(df_English.isnull().sum())

Username                                                      0
Course Name                                                   0
Eval Question                                                 0
Eval Response                                             12822
Eval Rating                                                   0
Eval Response DateAdded                                       0
Cohort Name                                                   0
Program Version                                               0
Gender                                                        0
Age                                                           0
Status in Canada                                              0
Marital Status                                                0
Country of Birth                                              0
Country you have_will immigrate from                         90
Year landed in Canada _enter 0 if not yet landed_             0
Highest level of education                                    0
Country                                                       0
Province                                                      0
City                                                          0
What is your current employment status                      285
What industry or sector are you working in                  285
Is this your preferred industry or sector                   285
What is your current annual employment salary               285
FirstName                                                     0
LastName                                                      0
Phone                                                         0
Genre                                                     17875
 Âge                                                      17875
Statut au Canada                                          17875
Situation maritale                                        17875
Pays de naissance                                         17875
Pays d_où vous avez immigré_immigrerez                    17875
Année d_arrivée au Canada _saisir 0 si non applicable_    17875
Plus haut niveau de formation                             17875
Quelle est votre situation professionnelle actuelle       17875
Dans quelle industrie ou secteur travaillez_vous          17875
Est_ce votre secteur ou industrie de prédilection         17875
Quel est votre salaire annuel actuel                      17875
Quarterly                                                     0
Language Category                                             0
dtype: int64

In [ ]:
df_English.shape

(17875, 40)

In [ ]:
df_English.drop(columns=['Genre', ' Âge', 'Statut au Canada', 'Situation maritale',
                         'Pays de naissance', 'Pays d_où vous avez immigré_immigrerez', 'Année d_arrivée au Canada _saisir 0 si non applicable_',
                         'Plus haut niveau de formation', 'Quelle est votre situation professionnelle actuelle',
                         'Dans quelle industrie ou secteur travaillez_vous', 'Est_ce votre secteur ou industrie de prédilection',
                         'Quel est votre salaire annuel actuel'], inplace=True)

<ipython-input-34-82c8addf0372>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English.drop(columns=['Genre', ' Âge', 'Statut au Canada', 'Situation maritale',

In [ ]:
print(df_English.isnull().sum())

Username                                                 0
Course Name                                              0
Eval Question                                            0
Eval Response                                        12822
Eval Rating                                              0
Eval Response DateAdded                                  0
Cohort Name                                              0
Program Version                                          0
Gender                                                   0
Age                                                      0
Status in Canada                                         0
Marital Status                                           0
Country of Birth                                         0
Country you have_will immigrate from                    90
Year landed in Canada _enter 0 if not yet landed_        0
Highest level of education                               0
Country                                                  0
Province                                                 0
City                                                     0
What is your current employment status                 285
What industry or sector are you working in             285
Is this your preferred industry or sector              285
What is your current annual employment salary          285
FirstName                                                0
LastName                                                 0
Phone                                                    0
Quarterly                                                0
Language Category                                        0
dtype: int64

Handling Missing Values of English Category

In [ ]:
df_English['Eval Response'].fillna('NA', inplace=True)

df_English['What is your current employment status'].fillna('Prefer not to disclose', inplace=True)

df_English['What industry or sector are you working in'].fillna('Prefer not to disclose', inplace=True)

df_English['What is your current annual employment salary'].fillna('Prefer not to disclose', inplace=True)

df_English['Is this your preferred industry or sector'].fillna('Prefer not to disclose', inplace=True)

<ipython-input-36-5d3caa72a86a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English['Eval Response'].fillna('NA', inplace=True)
<ipython-input-36-5d3caa72a86a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English['What is your current employment status'].fillna('Prefer not to disclose', inplace=True)
<ipython-input-36-5d3caa72a86a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English['What industry or sector are you working in'].fillna('Prefer not to disclose', inplace=True)
<ipython-input-36-5d3caa72a86a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English['What is your current annual employment salary'].fillna('Prefer not to disclose', inplace=True)
<ipython-input-36-5d3caa72a86a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English['Is this your preferred industry or sector'].fillna('Prefer not to disclose', inplace=True)

**Handling Errors In Both Country columns**

In [ ]:
pip install pycountry

Requirement already satisfied: pycountry in /usr/local/lib/python3.10/dist-packages (23.12.11)

In [ ]:
# Assuming group1english is your DataFrame and is already loaded
# Example: group1english = pd.read_csv('path_to_your_file.csv')

# Define a function to check if the data in 'Country of Birth' is appropriate
def is_appropriate(country):
    # Define criteria for appropriateness, here we assume inappropriate data are non-letters
    # You can modify this check based on your specific needs, such as checking against a list of known countries
    return country.replace(" ", "").isalpha()

# Use the function to replace inappropriate values
df_English['Country of Birth'] = df_English.apply(
    lambda row: row['Country you have_will immigrate from'] if not is_appropriate(row['Country of Birth']) else row['Country of Birth'],
    axis=1
)

# Verify the changes by checking a sample of the DataFrame
print(df_English[['Country of Birth', 'Country you have_will immigrate from']].head())

  Country of Birth Country you have_will immigrate from
0            Korea                                Korea
1            Korea                                Korea
2            Korea                                Korea
3            Korea                                Korea
4            Korea                                Korea

<ipython-input-38-e8870b9c2286>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English['Country of Birth'] = df_English.apply(

In [ ]:
# Define a function to replace null values in 'Country you have_will immigrate from' with values from 'Country of Birth'
def replace_null_with_country_of_birth(row):
    if pd.isnull(row['Country you have_will immigrate from']):
        return row['Country of Birth']
    else:
        return row['Country you have_will immigrate from']

# Apply the function to replace null values in 'Country you have_will immigrate from'
df_English['Country you have_will immigrate from'] = df_English.apply(replace_null_with_country_of_birth, axis=1)

# Verify the changes by checking a sample of the DataFrame
print(df_English[['Country of Birth', 'Country you have_will immigrate from']].head())

  Country of Birth Country you have_will immigrate from
0            Korea                                Korea
1            Korea                                Korea
2            Korea                                Korea
3            Korea                                Korea
4            Korea                                Korea

<ipython-input-39-c9bcd0f445d3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English['Country you have_will immigrate from'] = df_English.apply(replace_null_with_country_of_birth, axis=1)

In [ ]:
df_English.loc[df_English['Username'] == 'fessehad27@gmail.com', 'Country of Birth'] = 'Ethiopia'


df_English.loc[df_English['Username'] == 'fessehad27@gmail.com', 'Country you have_will immigrate from'] = 'Ethiopia'

In [ ]:
# Filter rows for the specified username
user_row = df_English[df_English['Username'] == 'liujun02122023@163.com']

# Check the country of birth for the user
country_of_birth = user_row['Country you have_will immigrate from'].iloc[0]

# Print the country of birth
print("Country of Birth:", country_of_birth)

Country of Birth: No

In [ ]:
df_English.loc[df_English['Username'] == 'fessehad27@gmail.com', 'Country you have_will immigrate from'] = 'China'

In [52]:
blank_responses = df_English[df_English['Eval Response'].isna() | (df_English['Eval Response'] == '')]

# Count the number of blank responses
count_blank_responses = blank_responses.shape[0]
print(f"Count of blank : {count_blank_responses}")

Count of blank : 23

In [53]:
df_English['Eval Response'] = df_English['Eval Response'].replace('', pd.NA)

# Fill NaN values with 'NA'
df_English['Eval Response'] = df_English['Eval Response'].fillna('NA')

<ipython-input-53-5c190387df3c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English['Eval Response'] = df_English['Eval Response'].replace('', pd.NA)
<ipython-input-53-5c190387df3c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_English['Eval Response'] = df_English['Eval Response'].fillna('NA')

In [54]:
blank_responses = df_English[df_English['Eval Response'].isna() | (df_English['Eval Response'] == '')]

# Count the number of blank responses
count_blank_responses = blank_responses.shape[0]
print(f"Count of blank : {count_blank_responses}")

Count of blank : 0

In [55]:
df_English.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17875 entries, 0 to 18814
Data columns (total 28 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Username                                           17875 non-null  object
 1   Course Name                                        17875 non-null  object
 2   Eval Question                                      17875 non-null  object
 3   Eval Response                                      17875 non-null  object
 4   Eval Rating                                        17875 non-null  int64
 5   Eval Response DateAdded                            17875 non-null  object
 6   Cohort Name                                        17875 non-null  object
 7   Program Version                                    17875 non-null  object
 8   Gender                                             17875 non-null  object
 9   Age                                                17875 non-null  object
 10  Status in Canada                                   17875 non-null  object
 11  Marital Status                                     17875 non-null  object
 12  Country of Birth                                   17875 non-null  object
 13  Country you have_will immigrate from               17875 non-null  object
 14  Year landed in Canada _enter 0 if not yet landed_  17875 non-null  float64
 15  Highest level of education                         17875 non-null  object
 16  Country                                            17875 non-null  object
 17  Province                                           17875 non-null  object
 18  City                                               17875 non-null  object
 19  What is your current employment status             17875 non-null  object
 20  What industry or sector are you working in         17875 non-null  object
 21  Is this your preferred industry or sector          17875 non-null  object
 22  What is your current annual employment salary      17875 non-null  object
 23  FirstName                                          17875 non-null  object
 24  LastName                                           17875 non-null  object
 25  Phone                                              17875 non-null  object
 26  Quarterly                                          17875 non-null  object
 27  Language Category                                  17875 non-null  object
dtypes: float64(1), int64(1), object(26)
memory usage: 4.0+ MB

In [56]:
print(df_English.isnull().sum())

Username                                             0
Course Name                                          0
Eval Question                                        0
Eval Response                                        0
Eval Rating                                          0
Eval Response DateAdded                              0
Cohort Name                                          0
Program Version                                      0
Gender                                               0
Age                                                  0
Status in Canada                                     0
Marital Status                                       0
Country of Birth                                     0
Country you have_will immigrate from                 0
Year landed in Canada _enter 0 if not yet landed_    0
Highest level of education                           0
Country                                              0
Province                                             0
City                                                 0
What is your current employment status               0
What industry or sector are you working in           0
Is this your preferred industry or sector            0
What is your current annual employment salary        0
FirstName                                            0
LastName                                             0
Phone                                                0
Quarterly                                            0
Language Category                                    0
dtype: int64

In [57]:
file_name = 'EnglishUserEval.csv'

# Save the DataFrame to a CSV file
df_English.to_csv(file_name, index=False)